/* PRIMARY COLOR: #a7ff83 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.row {
  margin: 0;
  width: 100%;
}

.col {
  padding: 0;
}

p {
  margin: 3px 0;
}

.game__favicon {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: 150px;
  background-image: url(../data/icon/favicon.png);
  z-index: 999;
  background-size: cover;
}

.game__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #a7ff83 0%, #eee 50%, #a7ff83);
}

.game__box {
  /* box-shadow: 5px -5px 49px 1px rgba(0, 0, 0, 0.46);
  width: 700px;
  height: 700px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  background-color: rgba(79, 78, 78, 0.8);
  display: grid;
  grid-template-columns: 100px repeat(8, 1fr) 100px;
  grid-template-rows: 100px repeat(8, 1fr) 100px;
  z-index: 999;
}

.position__grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  background-color: rgba(79, 78, 78, 0.8);
  display: grid;
  grid-template-columns: 100px repeat(8, 1fr) 100px;
  grid-template-rows: 100px repeat(8, 1fr) 100px;
  z-index: 999;
}

/* GAME WAY SQUARE */
.way__square {
  padding: 10px;
  background-color: #ffcdab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.way__square-topleft {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.way__square-topright {
  grid-column: 10 / 11;
  grid-row: 1 / 2;
}

.way__square-bottomleft {
  grid-column: 1 / 2;
  grid-row: 10 / 11;
}

.way__square-bottomright {
  grid-column: 10 / 11;
  grid-row: 10 / 11;
}

/* GAME WAY ROW */
.way__row {
  background-color: aquamarine;
}

.way__row--top {
  grid-column: 2 / 10;
  grid-row: 1 / 2;
}

.way__row--bottom {
  grid-column: 2 / 10;
  grid-row: 10 / 11;
}

/* GAME WAY TOP */
.way__col {
  background-color: aquamarine;
}

.way__col--left {
  grid-column: 1 / 2;
  grid-row: 2 / 10;
}

.way__col--right {
  grid-column: 10 / 11;
  grid-row: 2 / 10;
}

/* GAME SLOT */
.slot__icon {
  font-size: 50px;
}

.slot__icon--png {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.game__slot {
  background-color: #83e85a;
  border: 0.5px solid #fff4e3;
  font-family: "Noto Sans SC", sans-serif;
}

.game__slot--top {
  width: 12.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game__slot--bottom {
  width: 12.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game__slot--right {
  width: 100%;
  height: 12.5%;
  display: flex;
  flex-direction: row;
}

.game__slot--left {
  width: 100%;
  height: 12.5%;
  display: flex;
  flex-direction: row;
}

/* GAME INF */
.game__inf {
  grid-column: 2 / 10;
  grid-row: 2 / 10;
  background-color: #dedede;
  color: #525252;
  padding: 15px;
}

/* WAY ROW SLOT */
.way__row .slot__house {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  background-color: #333;
  padding: 2px;
  border-radius: 5px;
  overflow: hidden;
}

.way__row .slot__content {
  width: 100%;
  height: 85%;
  background-color: #eee;
  text-align: center;
}

.way__row .slot__price {
  margin: 0;
  padding: 5px;
  color: orange;
}

.way__row .slot__title {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
}

.way__row .house {
  width: 22.5%;
  margin: 0 1px;
  height: 100%;
  border-radius: 50%;
  background-color: #ff304f;
}

/* WAY COL SLOT */
.way__col .slot__house {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: #333;
  padding: 2px;
  border-radius: 5px;
  overflow: hidden;
}

.way__col .slot__content {
  width: 85%;
  height: 100%;
  background-color: #eee;
  text-align: center;
}

.way__col .slot__price {
  margin: 0;
  padding: 5px;
  padding-top: 0;
  color: orange;
}

.way__col .slot__title {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
}

.way__col .house {
  width: 100%;
  height: 22.5%;
  margin: 1px 0;
  border-radius: 50%;
  background-color: #ff304f;
}

/* SLOT SPECIAL */
.slot__special--lucky {
  justify-content: center;
  align-items: center;
  background-color: #faee1c;
}

.slot__special--unlucky {
  justify-content: center;
  align-items: center;
  background-color: #a56cc1;
}

/* GAME INF BOX */
.player__inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player__icon {
  font-size: 80px;
}

.players__money {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.game__dice {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice__icon {
  font-size: 100px;
}

.game__message {
  width: 90%;
  height: 15vh;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #525252;
  padding: 10px;
  margin-top: 30px;
}

/* GAME SIDEBAR */
.game__sidebar {
  width: 20%;
  height: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.slot__inf {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: white;
}

.slot__name {
  margin-top: 5px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  background-color: #e91111;
  border: 1px solid black;
}

.border--plus {
  padding: 5px;
  padding-bottom: 0;
  border: 1px solid black;
  height: 100%;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: black;
  margin-top: 5px;
}

.price {
  text-align: left;
  float: right;
  color: #ecd326;
}

.owner__inf {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.owner__name {
  font-size: 15px;
}

/* GAME HISTORY */
.game__history {
  width: 100%;
  height: 40%;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 5px 12px;
  background-color: rgba(f, f, f, 0.3);
}

/* HISTORY SCROLLBAR DESIGN */
/* width */
.game__history::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.game__history::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.game__history::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.game__history::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.history__inf {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
